#formulario {
    margin: auto;
}

p {
    margin-top: 20px;
}

form {
    background-color: rgb(217, 236, 199);
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

ul {
    width: 100%;
    padding-left: 0;
}

#resultado li {
    list-style: none;
    padding: 20px;
}

#resultado li:nth-child(even) {
    background-color: rgb(217, 236, 199);  
}

#resultado li:nth-child(odd) {
    background-color: rgb(249, 254, 243);
}

header {
    background-color: #198754;
    padding:20px;
}

h1 {
    color: white;
}

#cambio option {
    display: none;
}

footer {
    background-color: #198754;
    padding: 30px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1, h2, h3, p {
    text-align: center;
    }

    #valores {
        margin: 30px 0;
    }

    #otras {
        margin-top: 20px;
    }
  }

  label {
    text-align: left;
  }